<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqiUP9hkrlHvJGX2nDwd4d7XBicHYKO4k</string>
	<key>GCM_SENDER_ID</key>
	<string>944899887569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PGTiers</string>
	<key>PROJECT_ID</key>
	<string>pg-tiers</string>
	<key>STORAGE_BUCKET</key>
	<string>pg-tiers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944899887569:ios:cd03ea8a88859fc3c490f0</string>
</dict>
</plist>